<nav class="bg-blue-500 text-white p-4">
  <ul class="flex space-x-4">
    <li>
      <a
        routerLink="/users"
        class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-700 hover:text-white transition"
      >
        Lista de Usuarios
      </a>
    </li>
    <li>
      <a
        routerLink="/create-user"
        class="px-4 py-2 bg-blue-600 rounded hover:bg-blue-700 hover:text-white transition"
      >
        Crear Usuario
      </a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
